<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.nomnet" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Need name="MyApplication" for global variables -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NomNet"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewNom"
            android:label="@string/title_activity_view_nom" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="NomNet" >

     </activity>
        <activity
            android:name=".SignIn"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".FoodFeedActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.STARTINGPOINT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".CreateNom"
            android:label="@string/title_activity_create_nom" >
        </activity>
        <activity
            android:name=".Nomification"
            android:label="@string/title_activity_nomification" >
        </activity>
        <activity
            android:name=".CustomList"
            android:label="@string/title_activity_custom_list" >
        </activity>
        <activity android:name=".Camera"
            android:label="@string/title_activity_camera"
            >
        </activity>
    </application>

</manifest>


